@if (this.data) {
  <section>
    <h2>Files</h2>
    <div class="scroller">
      @for (file of this.data; track file.id) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ file.name }}</mat-card-title>
            @if (file.lastModifiedDateTime) {
              <mat-card-subtitle>Modified {{ file.lastModifiedDateTime | date:'medium' }}</mat-card-subtitle>
            }
          </mat-card-header>
          <mat-card-actions>
            <a mat-stroked-button [href]="file.webUrl" target="_blank" rel="noopener">View File</a>
          </mat-card-actions>
        </mat-card>
      }
    </div>
    @if (!this.data.length) {
      <h3>No files found</h3>
    }
  </section>
}
