@if (this.data) {
  <section>
    <h2>Calendar Events</h2>
    <div class="scroller">
      @for (event of this.data; track event.id ?? $index) {
        <div class="root">
          <div class="time-container">
            @if (event.start?.dateTime) {
              <div class="date">{{ dayFromDateTime(event.start.dateTime) }}</div>
            }
            <div class="time">{{ timeRangeFromEvent(event) }}</div>
          </div>

          <div class="separator">
            <div class="vertical-line top"></div>
            <div class="circle">
              @if (!event.isOnlineMeeting) {
                <div class="inner-circle"></div>
              }
            </div>
            <div class="vertical-line bottom"></div>
          </div>

          <div class="details">
            <div class="subject">{{ event.subject }}</div>
            @if (event.location?.displayName) {
              <div class="location">
                at <a [href]="'https://bing.com/maps/default.aspx?where1=' + event.location.displayName" target="_blank" rel="noopener"><b>{{ event.location.displayName }}</b></a>
              </div>
            }
            @if (event.attendees?.length) {
              <div class="attendees">
                @for (attendee of event.attendees; track attendee.emailAddress?.address ?? $index) {
                  <span class="attendee">{{ attendee.emailAddress?.name ?? attendee.emailAddress?.address }}</span>
                }
              </div>
            }
            @if (event.onlineMeeting?.joinUrl) {
              <div class="online-meeting">
                <img class="online-meeting-icon" src="https://img.icons8.com/color/48/000000/microsoft-teams.png" alt="Microsoft Teams" />
                <a class="online-meeting-link" [href]="event.onlineMeeting.joinUrl" target="_blank" rel="noopener">Join Teams Meeting</a>
              </div>
            }
          </div>
        </div>
      }
      @if (!this.data.length) {
        <h3>No events found</h3>
      }
    </div>
  </section>
}
