@if (this.data) {
  <section class="related-section">
    <h2>Teams</h2>
    <div class="scroller content-list">
      @if (featureFlags.teamsEnabled) {
        <button mat-stroked-button class="content-create-action" (click)="openDialog()">New Teams message</button>
      }
      
      @if (this.data.length) {
        <div>
          @for (chatMessage of this.data;track chatMessage.id) {
            <mat-card appearance="outlined" class="content-item">
              <mat-card-header>
                <mat-card-title>{{ chatMessage.summary }}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <a mat-stroked-button color="basic" [href]="chatMessage.webUrl" target="_blank" rel="noopener">View Message</a>
              </mat-card-actions>
            </mat-card>
          }
        </div>
      }
    </div>

    @if (!this.data.length) {
      <div class="content-empty"><h3>No related Teams messages</h3><p>Try another customer name or search term.</p></div>
    }
  </section>
}