@if (this.data) {
  <section>
    <h2>Chats</h2>
    <div class="scroller">
      @if (featureFlags.teamsEnabled) {
        <button mat-stroked-button color="primary" (click)="openDialog()">New Teams Chat</button>
        <br /><br />
      }
      
      @if (this.data.length) {
        <div>
          @for (chatMessage of this.data;track chatMessage.id) {
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ chatMessage.summary }}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <a mat-stroked-button color="basic" [href]="chatMessage.webUrl" target="_blank" rel="noopener">View Message</a>
              </mat-card-actions>
            </mat-card>
          }
        </div>
      }
    </div>

    @if (!this.data.length) {
      <div>
        <h3>No chat messages found</h3>
      </div>
    }
  </section>
}